<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Attendance</title>
    <!-- Add your CSS stylesheets if needed -->
</head>
<body>

<h1>Update Attendance</h1>

<form th:action="@{/attendance/update-attendance}" method="post">
    <input type="hidden" name="attendanceId" th:value="${attendance.attendanceId}"/>
    <input type="hidden" name="date" th:value="${attendance.date}"/>
    

    <div>
        <label for="status">Status:</label>
        <select name="status">
            <option value="Present" th:selected="${status == 'Present'}">Present</option>
            <option value="Absent" th:selected="${status == 'Absent'}">Absent</option>
        </select>
    </div>

    <button type="submit">Update Attendance</button>
</form>

<!-- Add your JavaScript if needed -->

</body>
</html>
